
{% if page.intro %}
<section class="intro {% if page.sections %}has-nav{% endif %}">



  <div class="vpad--xl intro__content intro--{{ page.class }}">
    <div class="row row--padding text--center">
      {{ page.intro }}
    </div>
  </div>



  {% if page.sections %}
  <div class="intro__nav text--center site-nav">
    <div class="row">
      <ul class="site-nav__list">
        {% for section in page.sections %}
        <li class="site-nav__item"><a href="#section-{{ section.title | slugify }}" class="site-nav__link">{{ section.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endif %}



</section>
{% endif %}