// general styles for the project that wouldn't be a reuseable component

.bg {
  &--white         { background-color: $white; }
  &--grey-light    { background-color: $grey-lightest; }
  &--grey-dark     { background-color: $grey-dark; }
  &--workshops {
    background-image: url('../img/bg/workshops.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-color: #121b20;
  }
  &--video {
    background-image: url('../img/content/irista/video-bg.jpg');
    @include background-attributes;
  }
}

.img-block {
  text-align: center;
  padding-top: $s3;
  > * {
    display: inline-block;
    width: 150px;
    margin: $s0 $s1;
    vertical-align: middle;
  }
}

.is-stuck {
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: $z-nav-upper;
  background-color: rgba($grey-dark,0.9);
}