---
layout: standard
id: canon-academy
title: Canon Academy
nav-order: 5



intro: >
  <p class="text--lg">Die Canon Academy bereitet Sie ausführlich auf Ihre Urlaubsfotografie vor: mit ihren Live-Workshops, Events und Expertentipps zu den Themen, die Sie begeistern. Entdecken Sie neue Wege in der Fotografie und lassen Sie sich von der Erfahrung und dem Wissen unserer Trainer zu neuen Geschichten inspirieren.</p>



sections:
  - title: video
  - title: gallery
  - title: academy
  - title: workshop



workshop-topics:

  - title: Workshop title
    content: Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

  - title: Workshop title
    content: Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

  - title: Workshop title
    content: Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

  - title: Workshop title
    content: Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.

---



<section id="section-video" class="vpad--xl text--center" style="background-image: url({{site.baseurl}}/img/content/{{page.id}}/video-bg.jpg);">
  <div class="row row--padding row--lg">
    <img src="{{site.baseurl}}/img/content/{{page.id}}/video.png" alt="Watch">
  </div>
</section>



<section id="section-gallery" class="vpad--xl bg--darkest-grey text--white text--center">

  <div class="row row--padding">
    <h2 class="title title--lg title--upper title--display">Photo Gallery</h2>
    <p class="text--lg">Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue.</p>
  </div>

  <div class="row row--padding row--4-4-4-gutters">
    {% assign photos = site.data.photos %}
    {% for photo in photos %}
    <div class="col photo">
      <div class="photo__img bg-img bg-img--4-3" style="background-image: url({{site.baseurl}}/img/photos/{{photo.id}}.jpg);"></div>
      <div class="photo__text">
        <span class="text--bolder">{{photo.title}}</span> by {{photo.photographer}}
      </div>
    </div>
    {% endfor %}
  </div>

</section>



<section id="section-academy" class="vpad--xl bg--theme-primary text--white text--center">
  <div class="row row--padding">
    <h2 class="title title--lg title--upper title--display">The Canon Academy</h2>
    <p class="text--lg">Nulla vitae elit libero, a pharetra augue. Nulla vitae elit libero, a pharetra augue.</p>
    <a href="#" class="btn btn--white">Find out more</a>
  </div>
</section>



<section id="section-workshop" class="vpad--xl bg--theme-secondary text--white">

  <div class="row row--padding row--xxl text--center">
    <h2 class="title title--lg title--upper title--display">Workshops</h2>
    <p class="text--lg">Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>

  <div class="row row--padding row--6-6-gutters row--xxl">

    {% for workshop in page.workshop-topics %}
    <div class="col workshop">
      <div class="bg-img bg-img--16-9" style="background-image: url({{site.baseurl}}/img/content/{{page.id}}/{{workshop.title | slugify}}.jpg);"></div>
      <h4 class="title title--xs">{{workshop.title}}</h4>
      <p>{{workshop.content}}</p>
      <a href="#" class="btn btn--sm btn--white">Find out more</a>
    </div>
    {% endfor %}

  </div>

  <div class="row row--padding text--center">
    <a href="#" class="btn btn--white">Find out more</a>
  </div>

</section>

