<div id="canon-irista-banner">
  <a href="https://www.irista.com/" target="_blank" id="iristaClickTarget"></a>
  <input type="hidden" id="bannerStatusIrista" value="true"/>
  <div class="clearfix">

    <div class="webbanner-banner-left">
      <div class="webbanner-keyvisual">
        <div class="webbanner-keyvisual-inner">
          <img src="{{site.baseurl}}/img/content/irista-banner/canon-irista.png"/>
        </div>
      </div>
    </div>

    <div class="webbanner-banner-right">
      <div class="sequenze-content">


        <div id="sequenze-intro" class="sequenze-item finalItem">
          <p><span>HALTEN SIE IHRE</span><br/>
            ERINNERUNGEN<br/>
            LEBENDIG</p>
          </div>

          <div id="second-layer"></div>

          <div class="sequenzes">
            <div id="sequenze-1" class="sequenze-item finalItem">
              <div class="sequenze-title">
                Fotos und Videos ohne <br/>
                Qualitätsverluste <br/>
                sichern<br/>
              </div>
            </div>

            <div id="sequenze-2" class="sequenze-item finalItem">
              <div class="sequenze-title">
                Bilder einfach und <br/>
                bequem sortieren und <br/>
                verwalten
              </div>
            </div>

            <div id="sequenze-3" class="sequenze-item finalItem">
              <div class="sequenze-title">
                Fotos und Online-<br/>
                Alben mit Freunden <br/>
                teilen
              </div>
            </div>

            <div id="sequenze-4" class="sequenze-item finalItem">
              <div class="sequenze-title">
                hdbook Fotobücher <br/>
                online gestalten
              </div>
            </div>

            <div id="sequenze-5" class="sequenze-item">
            </div>

            <div class="sequenze-footer finalItem">

              <p>Kostenlos registrieren und <br/>
                Gutschein-Code eingeben:</p>
                <p><strong>secret95ir</strong></p>
                <p><a href="#">Jetzt einlösen</a>

                </div>

                <div class="stoerer finalItem">
                  <div class="stoerer-table">
                    <div class="stoerer-row">
                      <div class="stoerer-cell">
                        100GB<br/>Speicher <br/>gratis
                      </div>
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </div>


      </div>