---
layout: default
---
<div class="page__content">

  <section class="vpad--xxl bg--grey-dark">
    <div class="row row--xl row--padding text--white text--center text--lg">
      {{ page.intro }}
    </div>
  </section>

  <section class="bg--grey-light">
    {% for section in page.sections %}
      <div class="henry{% cycle '', ' henry--swap' %}" id="section-{{section.title | slugify}}">
        <div class="henry__image" style="background-image:url({{site.baseurl}}/img/img.jpg);"></div>
        <div class="henry__text">
          <h3 class="title title--md">{{section.title}}</h3>
          <hr class="hrule">
          <div>
            {{section.content}}
          </div>
          <div class="space--sm"></div>
          <a href="#pdf-download-link" class="btn btn--sm btn--red-outline">Download Teaser PDF</a>
        </div>
      </div>
    {% endfor %}
  </section>

{% include components/irista-promo.html %}

</div><!-- END .page__content -->