---
layout: default
---
<div class="page__content">

  <section class="vpad--xxl bg--grey-dark">
    <div class="row row--xl row--padding text--white text--center text--lg">
      {{page.intro | liquify}}
      <div>
        <div class="space--sm"></div>
        <a href="{{page.link}}" class="btn btn--red" target="_blank">Direkt zum Leitfaden</a>
      </div>
    </div>
  </section>

  <section class="bg--grey-light">
    {% for section in page.sections %}
      <div class="henry{% cycle '', ' henry--swap' %}" id="section-{{section.title | slugify}}">
        <div class="henry__image" style="background-image:url({{site.baseurl}}/img/content/{{page.id}}/{{section.id}}.jpg);"></div>
        <div class="henry__text">
          <div class="row row--lg">
            <h3 class="title title--md">{{section.title}}</h3>
            <hr class="hrule">
            <div>
              {{section.content}}
            </div>
            <div class="space--sm"></div>
            <a href="{{page.link}}" class="btn btn--sm btn--red-outline" target="_blank">Zum Leitfaden</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </section>

{% include components/irista-banner.html %}

</div><!-- END .page__content -->