---
layout: default
---
<div class="page__content">

  <section class="vpad--xxl bg--grey-dark">
    <div class="row row--xl row--padding text--white text--center text--lg">
      {{ page.intro }}
      {% case page.id %}
        {% when "irista" %}
        <div class="img-block">
          <a id="track-irista-logo" href="https://www.irista.com/"><img width="300" src="{{site.baseurl}}/img/logo/canon-irista-white.png" alt="Canon Irista logo"></a>
        </div>
        {% when 'canon-academy' %}
        <div class="img-block">
          <a id="track-academy-logo" href="https://www.canon-academy.de/de"><img width="300" src="{{site.baseurl}}/img/logo/canon-academy.png" alt="Canon Academy logo"></a>
        </div>
      {% endcase %}
    </div>
  </section>

  {{content}}

</div><!-- END .page__content -->